
/* .footer {
  position: absolute;
  bottom: 0;
} */

/* .container {
  border: none !important;
  padding: 10px;
} */

/* footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
} */

.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.header h2 span{
  display: flex !important;
  align-items: center;
  column-gap: 20px;
}

.awsui-context-content-header {
  padding-bottom: 0 !important;
}

/* .container {
  min-height: calc(100vh - 20px); 
  display: flex;
  justify-content: center;
} */

/* .box {
  margin: 0 auto;
  border-bottom: solid 1px #f2f2f2;
} */

/* .buttonDropdown button{
  border: none;
  border-color: transparent !important;
} */